<div class="container">
  <!-- Componente Visor -->
  <div class="left-panel">
    <app-visor
      *ngIf="imagenSeleccionada"
      [imagen]="imagenSeleccionada"
      (mouseMove)="actualizarCoordenadas($event)">
    </app-visor>
    <ng-template #noImage>
      <div class="placeholder">
        <p>¡Selecciona una imagen para ver a un gato adorable! 😺</p>
      </div>
    </ng-template>
  </div>

  <!-- Componente Info -->
  <div class="right-panel">
    <app-info
      *ngIf="imagenSeleccionada"
      [imagen]="imagenSeleccionada"
      [mouseX]="mouseX"
      [mouseY]="mouseY">
    </app-info>
  </div>
</div>


<!-- Lista de Miniaturas -->
<div class="thumbnail-container">
  <img
    *ngFor="let imagen of listaImagenes"
    [src]="imagen.url"
    [alt]="imagen.descripcion"
    class="thumbnail"
    [class.selected]="imagen === imagenSeleccionada"
    (click)="seleccionarImagen(imagen)" />
</div>
